<p>Hey, {{name}} — {{inviterName}} has invited you to join the <a href="tryhttps://trymarch.dev/">march</a>.</p>

<p>{{message}}</p>

<p style="margin-bottom: 5%;">Click on the below button to join {{workspaceName}}:</p>

<a href="{{host}}/auth/invite?&invitationId={{invitationId}}&email={{email}}&slug={{slug}}&redirectUrl={{redirectUrl}}"><button style="background: rgb(0, 0, 0); color: white; padding: 8px 18px; border: none; font-size: 16px;  margin: 0px;  line-height: 16px !important; border-radius: 4px; cursor: pointer;">join</button></a>

<p style="margin-top: 5%;margin-bottom:3%">Keep marching!</p>

<p>Best,<br>
Marchbot</p>